<%- all_times = 5.times.map do |index| %>
  <%- Time.now.change(min: 0, sec: 0, nsec: 0) + (index - 0).hour %>
<% end %>
<%- all_rooms = Room.all.decorate %>

<section class="all-schedule-frame" style="display: block;">
  <div id="schedule">
    <table>
      <tr class="header">
        <th>Room Name</th>
        <% all_times.each do |time| %>
          <th><%= time.strftime("%l %p") %></th>
        <% end%>
      </tr>
      <% all_rooms.each do |room| %>
        <tr>
          <td class="name"><%= room.name %></td>

          <% all_times.each do |time| %>
            <% avaliable_class = room.is_available_at?(time) ? "available" : "" %>
            <td class="timeslot <%= avaliable_class %>"></td>
          <% end %>
        </tr>
      <% end %>
    </table>
  </div>
</section>
