<!-- Style -->
<style>
div.all-schedule-frame {
  padding-top: 250px;
  font-size: 24px;
  color: black;
}
div.all-schedule-frame table th {
  text-align: left;
  padding: 0.5em;
  font-size: 20px;
  font-weight: lighter;
  border-bottom: 1px solid #08324f;
  color: black;
}
div.all-schedule-frame table td {
  color: black;
}
div.all-schedule-frame .name {
  padding-right: 20px;
}
div.all-schedule-frame table td.timeslot {
  background-color: #a10037;
}
div.all-schedule-frame table td.timeslot.available {
  background-color: #0a8324;
}

div.all-schedule-frame .legend {
  padding-top: 40px;
  font-size: 16px;
}

div.all-schedule-frame .legend .legend-item {
  padding: 10px;
  display: inline-block;
  color: white;
}

div.all-schedule-frame .legend .available {
  background-color: #0a8324;
}

div.all-schedule-frame .legend .unavailable {
  background-color: #a10037;
}
</style>

<!-- Variables -->
<% all_times = 5.times.map do |index| %>
  <% Time.now.change(min: 0, sec: 0, nsec: 0) + index.hour %>
<% end %>
<% all_rooms = Room.all.decorate %>

<!-- Markup/Logic -->
<div class="grid">
  <div class="grid__col grid__col--12-of-12">
    <div class="all-schedule-frame center">
      <h3>Project Room Availability</h3>
      <table align="center">
        <tr>
          <th>Room Name</th>
          <% all_times.each do |time| %>
            <th><%= time.strftime("%l %p") %></th>
          <% end %>
        </tr>
        <% all_rooms.each do |room| %>
          <tr>
            <!-- Name of Room -->
            <td class="name"><%= room.name %></td>

            <!-- Available Times -->
            <% all_times.each do |time| %>
              <% avaliable_class = room.is_available_at?(time) ? "available" : nil %>
              <td class="<%= ["timeslot", avaliable_class].compact.join(" ") %>"></td>
            <% end %>
          </tr>
        <% end %>
      </table>
      <div class="legend">
        <div class="legend-item" style="color: black;">
          Legend:
        </div>
        <div class="legend-item available">
          Room Available
        </div>
        <div class="legend-item unavailable">
          Room Unavailable
        </div>
      </div>
    </div>
  </div>
</div>
