<div class="room-details room-details__bottom half-height">
  <div class="row">
    <div class="col-6 center">
      <h1>
        <%= room.name %>
      </h1>
    </div>

    <div class="col-3 center">
      <p id="up-next"><%= room.decorate.availability %></p>
    </div>

    <div class="col-3 center">
      <%= qr_code %>
    </div>
  </div>
</div>
