<div class="room-details room-details__top half-height">
  <div class="row">
    <div class="col-3 center">
      <%= qr_code %>
    </div>

    <div class="col-3 center">
      <p id="up-next"></p>
    </div>

    <div class="col-6 center">
      <h1>
        <%= screen.rooms.first.name %>
      </h1>
    </div>
  </div>
</div>
