<div class="room-details room-details__top half-height">
  <div class="grid">
    <div class="grid__col grid__col--3-of-12 center">
      <%= qr_code %>
    </div>

    <div class="grid__col grid__col--3-of-12 center">
      <p id="up-next"><%= room.decorate.availability %></p>
    </div>

    <div class="grid__col grid__col--6-of-12 center">
      <h1>
        <%= room.name %>
      </h1>
    </div>
  </div>
</div>
