<div class="grid">
  <div class="grid__col grid__col--12-of-12">
    <h2>PCOE - All Screens</h2>
  </div>

  <div class="grid__col grid__col--12-of-12">
    <ul>
      <% @screens.each do |screen|  %>
        <li><%= link_to screen.name, screen_path(screen) %></li>
      <% end%>
    </ul>
  </div>
</div>
