<h2>I'm on slide: <%= params[:slide] %></h2>


<h3><%= ["woot woot", 'yeh ha!', 'wowza', 'sparkles'].sample %></h3>

<%= [image_tag("test.jpg", height: "500px"), image_tag("OHIO_Patton_Logo_Black.gif")].sample %>
