<%= @slide.name %>
<p>Slide Number:<%= params[:slide] %></p>

<% @slide.style %>
<% case @slide.style %>
<% when "markup" %>
  <%= @slide.markup.html_safe %>
<% when "image" %>
  <p> Image!</p>
<% when "libcal-all-schedule-slide" %>
  <p> Render libcal</p>
<% else %>
  <p> Something else, gotta handle '<%= @slide.style %>'</p>
<% end %>
