// Defaults for slides
.slide {
  color: black;
}

#clock,
#up-next {
  font-size: 20px;
}

h1#room-name {
  font-size: 24px;
}

.logo,
.qrcode {
  img {
    height: 140px;
  }
}

.ou-logo {
  img {
    height: 75px;
  }
}

.image-slide {
  img {
    height: 1022px;
  }
}

.text-center {
  text-align: center;
}