<div class="row">
  <div class="col-12">
    <h1>ERROR</h1>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <p><%= @screen.name %> has no rooms configured; Please add a room in the admin interface</p>
  </div>
</div>
