<div class="grid">
  <div class="grid-col grid-col-12">
    <h1>ERROR</h1>
  </div>
</div>

<div class="grid">
  <div class="grid-col grid-col-12">
    <p><%= @screen.name %> has no playlist configured; Please select a playlist in the admin interface</p>
  </div>
</div>
