<div class="grid">
  <div class="grid__col grid__col--12-of-12">
    <h1>ERROR</h1>
  </div>
</div>

<div class="grid">
  <div class="grid__col grid__col--12-of-12">
    <p><%= @screen.name %> has only one room configured; Please add another room in the admin interface</p>
  </div>
</div>
