<div class="grid">
  <div class="grid__col grid__col--12-of-12">
    <h1>ERROR</h1>
  </div>

  <div class="grid__col grid__col--12-of-12">
    <p><%= @screen.name %> has too many rooms configured; Please remove extra rooms or change your layout</p>
  </div>
</div>
