/*
 *= require_self
 */

@import "toast/grid";

$appalachian_sunset: #ff701a;
$athens_sky: #29ffd1;
$baker: #7b9f02;
$brick: #a10037;
$bunch_of_grapes: #5b08ae;
$cutler: #0a8324;
$gateway: #35312e;
$heritage: #f7faf7;
$hocking: #007e71;
$innovation: #8aff1a;
$lindley: #c9c7ba;
$northwest: #e33500;
$paw_paw: #deff63;
$putnam: #544e49;
$regionals: #30ff14;
$saki: #991aff;
$satellite: #ff0047;
$templeton: #e3faed;
$under_the_elms: #063e0c;
$uptown: #f2ff0f;
$wheat: #ffdb00;
$off_white: #fcf4ea;

$footer-height: 280px;
$footer-half-height: ($footer-height / 2);

body.screen-layout {
  position: absolute;
  color: $off_white;
  width: 720px;
  height: 1280px;
  overflow: visible;
  background: $off_white;
  background-color: $off_white;
  top: -288px;
  left: 272px;

  &.rotate-90 {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }

  &.rotate-270 {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
  }
}

.slide {
  height: 1000px;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.room-details__top, .room-details__bottom {
  width: 720px;
  background-color: $brick;
  margin: 0;
  padding: 0;

  &.full-height {
    height: $footer-height;
  }

  &.half-height {
    height: $footer-half-height;

    .qrcode {
      margin-top: -60px;
      height: 65px;
      img {
        height: 75px;
      }
    }
  }

  &.available {
    background-color: $cutler;
  }

  .arrow {
    font-size: 60px;
    font-weight: bold;
    height: 20px;
  }
}

.room-details__top {
  &.half-height {
    .arrow {
      margin-top: -30px;
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
    }
  }
}

// Defaults for slides
.slide {
  color: black;
}

#clock, #up-next {
  font-size: 20px;
}

h1#room-name {
  font-size: 24px;
}

#logo, .qrcode {
  img {
    height: 140px;
  }
}

#ou-logo {
  img {
    height: 90px;
  }
}
