/*
 *= require_self
 */

@import "rails_bootstrap_forms";
@import "colors";
@import "bootstrap/custom";

$footer-height: 300px;
$footer-half-height: ($footer-height / 2);

body.screen-layout {
  position: absolute;
  color: $off_white;
  width: 720px;
  height: 1280px;
  overflow: visible;
  background: $off_white;
  background-color: $off_white;
  top: -288px;
  left: 272px;

  &.rotate-90 {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }

  &.rotate-270 {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
  }
}

.slide {
  height: 1000px;
}

.room-details__top, .room-details__bottom {
  width: 1080px;
  background-color: $red;
  margin: 0;
  padding: 0;

  &.full-height {
    height: $footer-height;
  }

  &.half-height {
    height: $footer-half-height;

    .qrcode {
      height: 65px;
      img {
        height: 75px;
      }
    }
  }

  .arrow {
    font-size: 40px;
    font-weight: bold;
  }
}

.room-details__top {
  &.half-height {
    .arrow {
      margin-top: -30px;
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
    }
  }
}

@import "slides/defaults.scss";

p {
  font-size: 12px;
  line-height: 14px;
}