@import "colors";
@import "toast";

$border_width: 1px;
$width: 720px - $border_width * 4;
$height: 1280px - $border_width * 4;
$footer-height: $height * 0.20;
$footer-half-height: $footer-height / 2;
$slide-height: $height - $footer-height;

body {
  border: 1px solid black;
  color: $off_white;
  width: $width;
  height: $height;
  background-color: $off_white;
  position: absolute;
  margin: 0;
  top: -280px;
  left: 280px;

  &.rotate-90 {
    transform: rotate(90deg);
  }

  &.rotate-270 {
    transform: rotate(270deg);
  }
}

.slide {
  height: $slide-height;
}

.room-details__top,
.room-details__bottom {
  width: $width;
  background-color: $red;
  margin: 0;
  padding: 0;
  height: $footer-height;
  color: $black;


  .qrcode {
    height: 65px;
    width: 65px;
    background-color: white;
  }

  &.half-height {
    height: $footer-half-height !important;

    .qrcode {
      height: 65px;

      img {
        height: 75px;
      }
    }
  }

  .arrow {
    font-size: 40px;
    font-weight: bold;
  }
}

.room-details__top {
  &.half-height {
    .arrow {
      margin-top: -30px;
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
    }
  }
}

@import "slides/defaults";

p {
  font-size: 12px;
  line-height: 14px;
}

$gutter: 12px;
$col-width: ($width - $gutter)/ 12;

.pt-2 {
  padding-top: 0.5rem;
}

.pt-4 {
  padding-top: 0.5rem;
}

.p-1 {
  padding: 0.25rem;
}

.p-0 {
  padding: 0rem;
}

.px-2 {
  padding: 0rem 0.5rem 0rem 0.25rem
}