@import "colors";
@import "toast";

$border_width: 1px;
$width: 720px - $border_width * 2;
$height: 1280px - $border_width * 2;
$footer-height: $height * 0.20;
$footer-half-height: $footer-height / 2;
$slide-height: $height - $footer-height;

body {
  border: 1px solid black;
  color: $off-white;
  width: $width;
  height: $height;
  background-color: $off-white;
  position: absolute;
  margin: 0;
  top: -280px;
  left: 280px;

  &.rotate-90 {
    transform: rotate(90deg);
  }

  &.rotate-270 {
    transform: rotate(270deg);
  }
}

.slide {
  height: $slide-height;
}

.room-details__top,
.room-details__bottom {
  width: $width - 16;
  margin: 0;
  padding: 0;
  height: $footer-height;
  color: white;

  &.available {
    color: black;
  }

  $qrcode_size: 65px;

  .qrcode {
    height: $qrcode_size * 1.5;
    width: $qrcode_size * 1.5;
    background-color: white;
    padding: 5px;

    img {
      color: red;
      height: $qrcode_size * 1.5;
      width: $qrcode_size * 1.5;
    }
  }

  &.half-height {
    height: $footer-half-height !important;

    .qrcode {
      height: $qrcode_size;
      width: $qrcode_size;

      img {
        height: $qrcode_size;
        width: $qrcode_size;
      }
    }
  }

  .arrow {
    font-size: 40px;
    font-weight: bold;
  }

  .container {
    height: 100%;
    width: 100%;
    display: table;
  }

  .item {
    display: table-cell;
    vertical-align: middle;
  }

  .item.grow {
    width: 100%;
  }
}

$arrow_from_y: 2rem;
$arrow_from_x: 0.5rem;

.room-details {
  &.half-height {
    .item {
      min-width: 80px;
    }
  }
}

.room-details__top {
  &.half-height {
    .arrow {
      position: absolute;
      top: $arrow_from_y;
      right: $arrow_from_x;
      transform: rotate(180deg);
    }
  }
}
.room-details__bottom {
  &.half-height {
    .arrow {
      position: absolute;
      bottom: $arrow_from_y;
      left: $arrow_from_x;
    }
  }
}

@import "slides/defaults";

p {
  font-size: 12px;
  line-height: 14px;
}

@for $i from 0 through 6 {
  .p-#{$i} {
    padding: 0.25rem * $i;
  }
  .pt-#{$i} {
    padding-top: 0.25rem * $i;
  }
  .pl-#{$i} {
    padding-left: 0.25rem * $i;
  }
  .pb-#{$i} {
    padding-bottom: 0.25rem * $i;
  }
  .pr-#{$i} {
    padding-right: 0.25rem * $i;
  }
  .px-#{$i} {
    padding-left: 0.25rem * $i;
    padding-right: 0.25rem * $i;
  }
  .py-#{$i} {
    padding-top: 0.25rem * $i;
    padding-bottom: 0.25rem * $i;
  }
}